{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}
&copy; Aaron Barrett - Subscribe via <a href="{{ feed_path | absolute_url }}">RSS</a>

<link rel="icon" type="image/x-icon" href="{{ "/favicons/favicon.ico" | relative_url }}">
<link rel="apple-touch-icon" href="{{ "/favicons/apple-icon.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ "/favicons/apple-icon-76x76.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ "/favicons/apple-icon-120x120.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ "/favicons/apple-icon-152x152.png" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicons/apple-icon-180x180.png" | relative_url }}">
